.container-fluid {
    margin: 0;
    padding: 0;
}

.jumbotron {
    background-image: url('./images/memphis-colorful.png');
}

.click-item {
    margin: 20px auto;
    border: 5px solid #f1f1f1;
    border-radius: 3px;
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
    box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
    cursor: pointer;
}

.click-item:hover {
    margin: 15px auto;
    width: 190px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.16), 0 6px 12px rgba(0,0,0,.23);
    box-shadow: 0 12px 12px rgba(0,0,0,.16), 0 12px 12px rgba(0,0,0,.23);
    transition: position 0.25s, right 0.25s, bottom 0.25s, width 0.25s, box-shadow 0.25s;
}

.col-sm-3 {
    text-align: center;
}

.wrong {
    animation: shake 0.5s;
    animation-iteration-count: 1;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}