footer {
    position: absolute;
    background-color: rgb(141, 88, 141);
    height: 4rem;
    width: 100vw;
    bottom: 0;
    padding-bottom: 0;
}

.branding {
    position: relative;
    bottom: -1rem;
}

