footer {
    background-color: rgb(141, 88, 141);
    height: 4rem;
    margin-top: 2rem;
    margin-bottom: 0;
    padding-bottom: 0;
}

.branding {
    position: relative;
    bottom: -1rem;
}

@media only screen and (max-width: 1000px) {
    footer {
        position: relative;
        bottom: -1.6rem;
    }
}

@media only screen and (max-width: 768px) {
    footer {
        position: relative;
        bottom: -2.6rem;
    }
}

@media only screen and (max-width: 581px) {
    footer {
        position: relative;
    }
}